.avatar-container {
  position: relative;
}

.avatar-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
}

.avatar-status {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 2px;
  right: 2px;
}

.avatar-status_online {
  background-color: green;
}

.avatar-status_offline {
  background-color: gray;
}

.btn {
  background-color: transparent;
  color: #6d69eb;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
